.porcentaje {
    display: flex;
    /* height: 250px; */
    flex-wrap: wrap-reverse;
    background: #C4C4C4;
    width: 50px;
    z-index: 10;
}

.level {
    background: #2646FF;
    width: 50px;
    height: 0;
}

.inicio {
    height: 0%;
}

.treinta {
    height: 30%;
}

.setenta {
    height: 70%;
}

.cien {
    height: 100%;
}

.animacion {
    transition: all 2s ease .5s;
}

.hombre {
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 60px;
    z-index: 1;
}

.encabezado{
    position: absolute;
    height: 86px;
    left: 0;
    right: 0;
    top:0;
    background: rgba(9, 0, 0, 0.16)
}

.contenido{
    position: relative;
    top:86px;
}

.fondo{
    background-image: url("../img/wraper.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
}

.ventana{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 8vw;
    padding-right: 3vw;
    padding-bottom: 6vw;
    padding-left: 3vw;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.miflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer{
    background-color: black;
    height: 80vh;
    color: white;
}

.alto{
    height: 100%;
}

@media (min-width: 768px) { 
    .footer{
        background-color: black;
        height: 50vh;
        color: white;
    }

    .alto{
        height: 80%;
    }
}